.center
{
    text-align: center;
    color: azure;
}
body
{
    background-color: dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
.Skills
{
    font-weight: bold;
}
a
{
    font-size: medium;
}