.center
{
    text-align: center;
    color: azure;
}
body
{
    background-color: dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
.Skills
{
    font-weight: bold;
}
a
{
    font-size: medium;
}
clock
{
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}